.general {
  font-family:monospace;
  text-align:left;
  background:black;
  margin:10px;
  padding:10px;
  color:chartreuse;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.headline {
  text-align:center;
  color:lightseagreen;
}
.code {
  color:white;
  white-space: pre-line;
}
.comment {
  color:green;
  white-space: pre-wrap;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.citation {
  color: grey;
}